target/
.idea/
.vscode/
.settings/
.project
.classpath
.factorypath
*.iws
*.iml
*.ipr
.apt_generated
.springBeans
.sts4-cache/
.nb-gradle/
nbproject/private/
nbdist/
dist/
build/
*.log
*.tmp
*.bak
*.swp
*.swo
*~
*.tar
*.tar.gz
*.zip
*.rar
*.7z
*.jar
!src/**/*.jar
.git/
.gitignore
HELP.md
README.md
README-EN.md
images/
LICENSE
1.3.3.patch
