# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Temp files
*.tmp
*.bak
*.swp
*~.nib
local.properties
.DS_Store
.AppleDouble
.LSOverride

# Archives
*.zip
*.tar
*.tar.gz
*.rar
*.jar
*.war
*.ear

# Other
.git/
.svn/
.hg/
node_modules/
dist/
